

* {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
}

body {
  /* background-color: rgb(49, 120, 125); */
  background-image: url(images/crypto\ list1.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode:overlay;
  height: 100vh;
}

.list-container {
  background-color: #fff;
  width: 400px;
  height: fit-content;
  padding: 5px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 8px 2px aliceblue;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.row .list-header{
  font-size: 28px;
  cursor:grab;
  text-shadow: 1.5px 1px 2px black;
}

.row {
  width: fit-content;
  height: 60px;
  /* padding: 10px; */
  align-items: center;
  /* background-color: gray; */
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: auto;
  box-sizing: border-box;
}

.logo {
  width: 35px;
  height: 35px;
  border-radius: 200px;
}

.warning {
  width: fit-content;
  height: fit-content;
  padding: 20px 10px;
  text-align: center;
  margin: auto;
  z-index: 1;
  margin-bottom: 15px;
  display: flex;
  background-color: aquamarine;
  display: none;
}

.nav-container {
  width: 100%;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.navBtn {
  width: fit-content;
  height: 22px;
  padding: 0 7px;
  margin: 7px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 1px 1px 4px 2px black;
}

button:hover {
  background-color: rgb(76, 181, 76);
}

button:active {
  background-color: rgb(17, 34, 17);
}

form {
  width: 100%;
  height: fit-content;
  background-color: rgba(203, 198, 198, 0.64);
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  padding: 10px;
  /* flex-wrap: nowrap; */
  border-radius: 15px;
  box-sizing: border-box;
}

input {
  width: 100%;
  height: 39px;
  margin-bottom: 6px;
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
  border: none;
  /* margin-bottom: 20px; */
  padding: 8px 10px;
  font-size: 18px;
  background-color: rgba(199, 198, 198, 0.701);
  font-weight: 600;
}

.submit-ntb {
  float: right;
  width: 98%;
  margin: auto;
}

.inputForm{
  width: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 4px;
  /* font-size: 10px; */
  /* justify-content: space-between; */
  /* background-color: black; */
  width: fit-content;
  animation: popup .5s linear;

}

.airdropForm {
  height: fit-content;
}

#name-box{
  width: 100%;
}

#change {
  width: 100%;
}

@keyframes popup {
  0% {
    transform: scaleX(10%);
  }

  /* 0%{
    transform: scaleX(100%);
  } */
}

button {
  height: 40px;
  width: 80px;
  border-radius: 15px;
  background-color: rgba(0, 100, 0, 0.774);
  color: #fff;
  font-size: 20px;
  border: none;
  outline: 1px solid aliceblue;
  font-weight: 600;
  cursor: pointer;
  
}

.popup {
  height: 50px;
  width: fit-content;
  display: flex;
  flex: 1;
  text-wrap: wrap;
  background-color: rgba(194, 239, 224, 0.767);
  margin: auto;
  text-align: center;
  padding: 10px;
  /* box-sizing: border-box; */
  border-radius: 12px;
  display: none;
  font-size: .8rem;
  animation: showWarning .4s;
}

@keyframes showWarning {
  0% {
    transform: scaleY(10%);
  }
  0% {
    /* transform: translate3d(20px); */
  }
}

.pop {
  /* width: 100%; */
  height: 100%;
  margin: auto;
  
}

.slideContainer {
  animation: slide 1.5s;
  max-width: 100%;
}

.AirdropsSlide, .TestnetsSlide {
  display: none;
  width: 90vw;
}

.airdropForm, .testnetForm {
  display: none;
}

@keyframes slide {
  0%{
    transform: translatey(-100%);
  }
  35% {
    transform: translate(0%);
  }
}

.list-items {
  margin: 20px auto;
  padding: 15px 25px;
  box-sizing: border-box;
  border-radius: 12px;
  border-top-left-radius: 22px;
  position: relative;
  width: 100%;
  height: fit-content;
  background-color: rgba(213, 213, 213, 0.674);
  display: flex;
  flex-direction: column-reverse;
}

.list {
  margin: 5px 0;
  background-color: unset;
  padding: 5px;
  margin-left: -10px;
  width: 97%;
  height: 100%;
  overflow-y: scroll;
  border-radius: 12px;
  /* box-shadow: 0 0px 8px .01px black; */
  overflow-y:scroll;
  scrollbar-width:none;
}

li.list {
  background-color: rgba(183, 190, 190, 0.727);
  padding: 5px 15px;
}

.listhead {
  width: 100%;
}

.form-title {
  font-size: 28px;
  font-weight: 600;
  text-shadow: 1px 1.4px 1px rgba(128, 128, 128, 0.756);
  /* position: absolute; */
  text-align: center;
  display: grid;
  margin: auto;
  width: 100%;
}



ul li {
  font-size: 20px;
  font-weight: 600;
  /* line-height: 10px; */
  padding: 5px;
  margin-bottom: 10px;
  padding-left: 7px;
  border-radius: 12px;
  cursor: pointer;
  background-color: rgba(183, 190, 190, 0.727);
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  text-wrap: wrap;
}


ul li.Checked {
  text-decoration: line-through;
}

.line {
  width: 100%;
  height: fit-content;
  border-radius: 12px;
  padding: 1px 4px;
  gap: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(144, 152, 149, 0.747);
  margin-bottom: 10px;
}

li:hover {
  background-color: rgba(148, 181, 181, 0.707);
  transition-duration: .6s;
  /* color: #fff; */
}

/* ---Footer SECTION---- */

footer {
  width: 100%;
  height: 80px;
  /* background-color: aquamarine; */
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
  margin: auto;
  box-sizing: border-box;
}

footer div {
  overflow: hidden;
  width: fit-content;
  text-align: center;
  /* background-color: azure; */
  margin: auto;
  height: 70px;
}

footer a i {
  height: 35px;
  width: 50px;
  margin: 0;
} 

footer div h3 {
  margin-top: -12px;
  color: black;
  font-weight: 900;
  font-size: 13px;
  font-family:serif;
  /* text-decoration: none; */
}

footer div .fa-brands {
  font-size: 28px;
  padding-top: 15px;
}

a {
  text-decoration: none;
}

.Checked {
  text-decoration: line-through;
  margin-bottom: unset;
}

.copyright-div {
  width: 100%;
  /* background-color: aquamarine; */
  text-align: center;
  height: 40px;
  display: grid;
  align-items: center;
}

#fform{
  max-width: 100%;
}


/* ---MOBILE VIEW---- */

@media only screen and (min-width: 320px) and (max-width: 568px) {
  .list-container {
    background-color:#ffffffaa;
    width: 90vw;
    height: fit-content;
    padding: 5px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 8px 2px aliceblue;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}